[submodule "vendor/multiverse/arbipher"]
	path = vendor/multiverse/arbipher
	url = https://github.com/arbipher/multiverse
[submodule "vendor/cmake"]
	path = vendor/cmake
	url = https://github.com/Kitware/CMake.git
